:root {
    /* Base colors */
    --black: rgba(30, 30, 30, 1);
    --white: rgba(255, 255, 255, 1);
    --white-select: rgba(240, 240, 240, 1);
    --mid-grey: rgba(222, 222, 222, 1);
    --grey: rgba(211, 211, 211, 1);
    --green: rgba(125, 117, 71, 1);

    /* Highlight colors */
    --orange: rgba(255, 108, 47, 1);
    --blue: rgb(0, 158, 180);
    --purple: rgb(234, 97, 175);

    /* Special colors */
    --white-transparent: rgba(255, 255, 255, 0.4);

    /* Sizing */
    /* --default-padding: 14px; */
    --default-padding: 20px;
    --half-padding: calc(var(--default-padding) / 2);
    --double-padding: calc(var(--default-padding) * 2);
    --triple-padding: calc(var(--default-padding) * 3);
    --menubar-height: 62px;
    --menubar-height-phone: 82px;
    --header-height: 400px;
    --headerbar-height: 200px;

    --footer-height: 300px;
    --module-min-height: 360px;

    /* Z-index */
    --z-back: 10;
    --z-deco: 100;
    --z-image-container: 500;
    --z-content: 1000;
    --z-nav: 10000;
    --z-modal: 100000;

    /* Fonts */
    --font-family: 'ABC Diatype', Helvetica, Arial, sans-serif;
    --font-family-mono: 'ABC Diatype Mono', monospace;
    --font-family-arabic: 'ABC Favorit Arabic', sans-serif;

    /* Font sizes */
    --font-size-small: 14px;
    --font-size-normal: 18px;
    --font-size-phone-menu: 24px;
    --font-size-large: 32px;
    --font-size-xlarge: 42px;
    --font-size-xxlarge: 48px;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: var(--color-secondary);
    /* scroll-behavior: smooth; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *::selection {
    background: var(--grey);
  }

  body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--black);
    background-color: var(--white);
    overscroll-behavior-y: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    position: relative;
    z-index: var(--z-content);
    max-width: 700px;
  }

  body.ARABIC {
    font-family: var(--font-family-arabic);
  }

  p.large {
    font-size: var(--font-size-large);
    line-height: 1.1em;

    @media (max-width: 768px) {
      font-size: var(--font-size-normal);
    }
  }

  p a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  p a:hover {
    text-decoration: none;
  }

  p.large:first-child {
   margin-top: 0;
  }

  p.normal:first-child {
    margin-top: 0;
   }

   blockquote {
    position: relative;
    z-index: var(--z-content);
   }

   g {
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.5s ease-out; /* Quick fade-in transition */
    transform-origin: 50% 50%;
   }

   g.spin:nth-child(odd) {
    transform: rotate(5deg);
   }

   g.spin:nth-child(even) {
    transform: rotate(-5deg);
   }

   g.shown{
    opacity: 1;
    transform: rotate(0deg);
}

g.spin.shown{
  opacity: 1;
  transform: rotate(0deg);
}

g {
  will-change: opacity, transform;
}