:root {
    /* Base colors */
    --white: rgba(255, 255, 255, 1);
    /* --black: rgba(0, 0, 0, 1); */
    --black: rgba(30, 30, 30, 1);
    --green: rgba(125, 117, 71, 1);
    --grey: rgba(211, 211, 211, 1);

    /* Highlight colors */
    --orange: rgba(255, 108, 47, 1);
    --blue: rgba(0, 158, 180, 1);
    --purple: rgba(145, 13, 106, 1);

    /* Special colors */
    --white-transparent: rgba(255, 255, 255, 0.3);

    /* Sizing */
    --default-padding: 14px;
    --double-padding: 20px;
    --menubar-height: 62px;
    --header-height: 300px;
    --footer-height: 300px;

    /* Fonts */
    --font-family: 'ABC Diatype', Helvetica, Arial, sans-serif;
    --font-family-mono: 'ABC Diatype Mono', monospace;
    --font-family-arabic: 'ABC Favorit Arabic', sans-serif;

    /* Font sizes */
    --font-size-xs: 11px;
    --font-size-normal: 18px;
    --font-size-large: 32px;
    --font-size-xl: 56px;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: var(--color-secondary);
    /* scroll-behavior: smooth; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *::selection {
    background: var(--grey);
  }

  body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--black);
    background-color: var(--white);
    overscroll-behavior-y: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }